html {background-color: #BDB2A5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf')
  }

  nav {
    background-color: #1C252D;
    overflow:visible;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:  1000;
  }

  nav img {
    height: 50px; /* Set the desired height of your logo */
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   padding-right: 4em;
    font-family: 'Bebas Neue';
   
    font-size: 1.5em;
  }

  nav li {
    float: left;
    padding-left: 2em;
  }

  nav a {
    display: block;
    color: #5A6469;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #1C252D;
        color: #9F9E73;
  }

  .collapsible {
    float: right;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
    background-color: inherit;
    font-size: 1em;
    color: #5A6469;
  }

  .collapsible:hover {
    background-color: #1C252D;
    color: #9F9E73;
  }

  .content {
    display: none;
    padding: 20px;
    position: absolute;
    top:100%;
    right:0;
    background-color: #1C252D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001;
  }
.orgContent {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
  h2 {text-align: center; color: #1C252D; font-family: 'Bebas Neue'; font-size: 4em;}
  h3 {padding-left: 1em; font-size: 2em; font-family: 'Bebas Neue';}
  p {padding-left: 1em; padding-right: 1em; font-size: 1.2em;}


  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    
  }
  
  .section.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  #content-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  h1 {
    font-family: 'Bebas Neue';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color */
    text-align: center;
    font-size: 4em; /* Adjust font size */
    text-shadow: #1C252D .1em .1em;
    font-size:3em;
  }

::-webkit-scrollbar {
  width: 0; 
}
