html {background-color: #BDB2A5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: url('../Media/fonts/Bebas_Neue/BebasNeue-Regular.ttf')
  }
  form {
    width: 300px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Bebas Neue';

  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #ABC7DD;

  }

  button {
    background-color: #ABC7DD;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';

  }

  nav {
    background-color: #1C252D;
    overflow:visible;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:  1000;
    margin-bottom: 6em;
  }

  nav img {
    height: 50px; /* Set the desired height of your logo */
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   padding-right: 4em;
    font-family: 'Bebas Neue';
   
    font-size: 1.5em;
  }

  nav li {
    float: left;
    padding-left: 2em;
  }

  nav a {
    display: block;
    color: #5A6469;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #1C252D;
        color: #9F9E73;
  }

  .collapsible {
    float: right;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
    background-color: inherit;
    font-size: 1em;
    color: #5A6469;
  }

  .collapsible:hover {
    background-color: #1C252D;
    color: #9F9E73;
  }

  .content {
    display: none;
    padding: 20px;
    position: absolute;
    top:100%;
    right:0;
    background-color: #1C252D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001;
  }
.orgContent {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}