html {background-color: #BDB2A5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf')
  }



  form {
    width: 300px;
  }

  #form-container {
    background-color: #1C252D;
    border-radius: 6px;
    position: relative;
    display: block;
  }

  #contact-img { width:25em;
    border-radius: 6px;
    position: absolute;
   top: 60%;
   left: 80%;
   transform: translate(-50%, -50%);
  box-shadow: #1C252D .2em .2em 1em;}

 

  label {
    display: block;
    padding-bottom: 8px;
    font-family: 'Bebas Neue';
    color:#BDB2A5;
    padding-left: 2em;
    padding-top: 1em;
  }

  input,
  textarea {
    width: 12em;
    padding: 8px;
    margin-bottom: 16px;
   
    background-color: #ABC7DD;
    margin-left: 2em;
    border-radius: 5px;
  }

  button {
    background-color: #ABC7DD;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: 5px;
  }




  nav {
    background-color: #1C252D;
    overflow:visible;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:  1000;
    margin-bottom: 6em;
  }

  nav img {
    height: 50px; /* Set the desired height of your logo */
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   padding-right: 4em;
    font-family: 'Bebas Neue';
   
    font-size: 1.5em;
  }

  nav li {
    float: left;
    padding-left: 2em;
  }

  nav a {
    display: block;
    color: #5A6469;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #1C252D;
        color: #9F9E73;
  }

  .collapsible {
    float: right;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
    background-color: inherit;
    font-size: 1em;
    color: #5A6469;
  }

  .collapsible:hover {
    background-color: #1C252D;
    color: #9F9E73;
  }

  .content {
    display: none;
    padding: 20px;
    position: absolute;
    top:100%;
    right:0;
    background-color: #1C252D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001;
  }
.orgContent {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}


::-webkit-scrollbar {
  width: 0; 
}

 /* Media query for mobile devices */
 @media (max-width: 767px) {
  #contact-img {
    /* New styles for mobile devices */
    position:unset; /* or any other positioning you want */
    transform:none;
    width:100%;
  }
  #mobile {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #form-container {width:100%;}
  form{width:100%;}
  button {position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;}
    input,
    textarea {
      width: 70%;
    }
}