html{background-color: #BDB2A5;}
body{margin:0;}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf')
  }
nav {
    background-color: #1C252D;
    overflow:visible;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:  1000;
    margin-bottom: 6em;
  }

  nav img {
    height: 50px; /* Set the desired height of your logo */
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   padding-right: 4em;
    font-family: 'Bebas Neue';
   
    font-size: 1.5em;
  }

  nav li {
    float: left;
    padding-left: 2em;
  }

  nav a {
    display: block;
    color: #5A6469;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #1C252D;
        color: #9F9E73;
  }

  .collapsible {
    float: right;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
    background-color: inherit;
    font-size: 1em;
    color: #5A6469;
  }

  .collapsible:hover {
    background-color: #1C252D;
    color: #9F9E73;
  }

  .content {
    display: none;
    padding: 20px;
    position: absolute;
    top:100%;
    right:0;
    background-color: #1C252D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001;
  }
.orgContent {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
::-webkit-scrollbar {
    width: 0; 
  }

#flex {display: flex;}
.column {
    flex: 1;
    word-wrap: break-word;
}
h1 {text-align: center; font-family: 'Bebas Neue';}
li {list-style: none;
margin:1em;
}
a{font-family: 'quicksand';}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand/Quicksand-Regular.otf')
  }

a {
    font-size: 1em;
    text-decoration: none;
}

@media (max-width: 767px) {
    #flex{flex-direction: column;}
 
  
    
    
    
}

#resource-logo {
    width:16em;
}
#logo-container {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}




.accordion {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }

  .accordion-item {
    border: 1px solid #ABC7DD;
    border-radius: 5px;
    margin-bottom: 8px;
    overflow: hidden;
  }

  .accordion-button {
    background-color: #1C252D;
    color: #ABC7DD;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-content {
    padding: 10px;
    display: none;
  }

  .accordion-content p {
    margin: 0;
  }






  .resource {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .resource img {
    max-width: 100px;
    margin-right: 10px;
  }

  .resource a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .resource-title {
    flex: 1;
  }
  .resourceIMG {
    padding-right: 1em;
  }

  .iconImage {
    width: 3em;
  }

  #videos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .video {
    margin: 1em;
  }